body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    height: 50px;
    width: 100px;
    background-color: #ff6b6b;
    border-radius: 59px;
    transition: 2s;
}

div:hover{
    font-size: 32px;
    height: 100px;
    width: 200px;
    background-color: #fbff00;
    color: #000;
    transition: 2sec;
}